@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  /*background: #224941 url('./img/bg.jpg') no-repeat center center/cover;*/
  background: #224941 no-repeat center center/cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
#text {
  text-align:center;
  position: relative;
  top: 30%;
 }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 200px;
  width: 200px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  align-items: center;
  margin: auto;
  top: 0%;
  left: 0%;
  z-index: -1;
  text-align:center;
}

.gradient-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 100%;
  position: absolute;
  align-items: center;
  margin: auto;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -100px;
  left: 100px;
  width: 20px;
  height: 190px;
  animation: rotate 5s linear 3s infinite alternate;
  /*animation: rotate 5s linear 3s;*/
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(270deg);
  }
}

.container.grow {
  animation: grow 5s linear backwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.container.shrink {
  animation: shrink 5s linear backwards;
}

@keyframes shrink {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}